<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="us.food4thought.pantryprotect">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".PantryProtectorActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".GListActivity"></activity>
        <activity android:name=".InventoryActivity"></activity>
        <activity android:name=".ItemDetails" android:windowSoftInputMode="stateVisible|adjustResize"></activity>
        <activity android:name=".OptionsActivity"></activity>
        <service android:name=".PantryProtectorLocalService" 
        	android:enabled="true">
       	</service>
		<activity android:name=".ScanActivity"></activity>
        <activity android:name=".LocationDetails" android:windowSoftInputMode="stateVisible|adjustResize"></activity>
        <activity android:name=".GroceryDetails" android:windowSoftInputMode="stateVisible|adjustResize"></activity>
        <activity android:name=".CookBook" android:windowSoftInputMode="stateVisible|adjustResize"></activity>
        <activity android:name=".Ingredients" android:windowSoftInputMode="stateVisible|adjustResize"></activity>
        <activity android:name=".RecipeList" android:windowSoftInputMode="stateVisible|adjustResize"></activity>
        <activity android:name=".RecipeAdd" android:windowSoftInputMode="stateVisible|adjustResize"></activity>
 		<activity android:name=".RecipeDisplay" android:windowSoftInputMode="stateVisible|adjustResize"></activity>
 		<activity android:name=".RecipeDetails" android:windowSoftInputMode="stateVisible|adjustResize"></activity>
 		<activity android:name=".MealListActivity"></activity>
 		<activity android:name=".MealViewActivity"></activity>

    </application>
</manifest>